<h3 *ngIf="halls.length===0">There are no Halls...</h3>

<div class="list">
  <mat-accordion *ngIf="halls.length > 0" >
    <mat-expansion-panel *ngFor="let hall of halls">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{hall.name}}
        </mat-panel-title>
        <mat-panel-description class="margin-left">
          {{hall.sport}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Address: {{hall.address}}</p>
      <p>Opens: {{hall.startTime}}:00</p>
      <p>Closes: {{hall.endTime}}:00</p>
      <p>Price per hour: {{hall.pricePerHour}}</p>
      <img class="image" *ngIf="hall.image" src="{{hall.image}}">

      <mat-action-row class="action-row">
        <button mat-stroked-button color="primary" (click)="showEvents(hall)">Show Events</button>
        <button mat-stroked-button color="accent" (click)="editHall(hall)">Edit</button>
        <button mat-stroked-button color="warn" (click)="deleteHall(hall.id)" class="delete">Delete</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>
