.width-300{
  width: 90%;
}
:host{
  display: block;
  width: 100%;
}
.card{
  max-height: 70vh;
  overflow-y: auto;
  display: block;
  margin-left: 40px;
}
.form{
  background-color: #FFFFFF;
  border-color: #F5F5F5;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
.join-button {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.leave-button {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 20px;
}
.center{
  display: flex;
  justify-content: center;
  width: 100%;
}
.label{
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 5px;
  padding-right: 0px;
  padding-left: 0px;
}
.button-see-participants{
  border-radius: 5px;
  background-color: #F5F5F5;
  margin: auto;
  display: block;
  width: 80%;
}
.separator-line {
  width: 85%; /* This will make the line take up about 80% width */
  border: 0;
  height: 1px;
  background: #DCDCDC;
  margin: 0 auto; /* This will center the line */
}
.light-gray{
  background-color: #F5F5F5;
  border: 2px solid #DCDCDC;
}
.margin-bottom{
  margin-bottom: 15px;
}
.img{
  border-radius: 10px;
}
