<div class="dialog">
  <h2 mat-dialog-title class="h2">Edit a team</h2>
  <mat-dialog-content>
    <div class="form-container">
      <mat-form-field class="width">
        <mat-label>Enter team name</mat-label>
        <input matInput
               placeholder="exampleName"
               name="email"
               [formControl]="name"
               required>
        @if (name.invalid) {
          <mat-error>You must enter a name</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="width">
        <mat-label>Sport</mat-label>
        <mat-select [formControl]="sport">
          <mat-option value="football">Football</mat-option>
          <mat-option value="basketball">Basketball</mat-option>
          <mat-option value="tennis">Tennis</mat-option>
        </mat-select>
        @if (sport.invalid) {
          <mat-error>You must choose a sport</mat-error>
        }
      </mat-form-field>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onCreate()">Edit</button>
  </mat-dialog-actions>
</div>
