<mat-grid-list cols="4" rowHeight="95vh" >
  <mat-grid-tile colspan="3" >
    <div class="table">
      <table mat-table [dataSource]="dataSource" >

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef > Position </th>
          <td mat-cell *matCellDef="let team, let i = index"> {{i+1}} </td>
        </ng-container>

        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef > Team </th>
          <td mat-cell *matCellDef="let team"> {{team.name}} </td>
        </ng-container>

        <ng-container matColumnDef="played">
          <th mat-header-cell *matHeaderCellDef > Played </th>
          <td mat-cell *matCellDef="let team"> {{team.wins + team.draws + team.losses}} </td>
        </ng-container>

        <ng-container matColumnDef="won">
          <th mat-header-cell *matHeaderCellDef > Won </th>
          <td mat-cell *matCellDef="let team"> {{team.wins}} </td>
        </ng-container>

        <ng-container matColumnDef="drawn">
          <th mat-header-cell *matHeaderCellDef > Drawn </th>
          <td mat-cell *matCellDef="let team"> {{team.draws}} </td>
        </ng-container>

        <ng-container matColumnDef="lost">
          <th mat-header-cell *matHeaderCellDef > Lost </th>
          <td mat-cell *matCellDef="let team"> {{team.losses}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef > Points </th>
          <td mat-cell *matCellDef="let team"> {{team.points}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></tr>
      </table>
      <div>
        <mat-paginator [pageSizeOptions]="[10, 20]"
                       showFirstLastButtons
                       aria-label="Select table page">
        </mat-paginator>
      </div>
    </div>


  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <div>
      <h5 *ngIf="resultsToShow.length === 0">There is no challenge history</h5>
      <div *ngFor="let result of resultsToShow">
        <h3>{{result.challengerTeamName}} <strong>{{result.challengerScore}} - {{result.challengedScore}}</strong> {{result.challengedTeamName}}</h3>
        <h5>Date: {{result.date | date}}</h5>
        <h5>Court: {{result.courtName}}</h5>
        <mat-divider></mat-divider>
      </div>
    </div>

  </mat-grid-tile>


</mat-grid-list>
